<!DOCTYPE html>
<html>
<head>
	<title>活动</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">
	<meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="__STATIC__/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/xwc.css">
	<link href="__STATIC__/css/jquery.bxslider.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="__STATIC__/fonts/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="__STATIC__/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
	
</head>
<body>

<div>
<input type="text" placeholder="搜索名称" name="" style="float: left;margin-left: 60%;margin-top: 40px;">
<p style="float: left;margin-left: 2%;margin-top: 38px;border: 1px solid red;padding: 4px 2%;cursor: pointer;">查询</p>
<div style="clear: both;"></div>
</div>



<div class="column">
		<p style="float: left;margin-left: 6%;margin-top: 5px;">名称</p>
		<p style="float: left;margin-left: 20%;margin-top: 5px;">有效期</p>
		<p style="float: left;margin-left: 20%;margin-top: 5px;">优惠内容</p>
		<p style="float: left;margin-left: 20%;margin-top: 5px;">数量（剩余）</p>
		<div style="clear: both;"></div>
	</div>


	<div class="woe">
		<p style="width: 7%;float: left;margin-left: 5%;margin-top: 35px;">第二杯半价</p>
		<p style="width: 7%;float: left;margin-left: 16%;margin-top: 35px;">第二杯五折</p>
		<section class="model-2" style="float: left;margin-top: 25px;margin-left: 17%;">
			  <div class="checkbox">
			    <input type="checkbox">
			    <label></label>
			  </div></section>
		<div style="clear: both;"></div>
	</div>


	<div class="woe">
		<p style="width: 7%;float: left;margin-left: 5%;margin-top: 35px;">第三杯免费</p>
		<p style="width: 7%;float: left;margin-left: 16%;margin-top: 35px;">第三杯免费</p>
		<section class="model-2" style="float: left;margin-top: 25px;margin-left: 17%;">
			  <div class="checkbox">
			    <input type="checkbox">
			    <label></label>
			  </div></section>
		<div style="clear: both;"></div>
	</div>


	<div class="woe">
		<p style="width: 7%;float: left;margin-left: 5%;margin-top: 35px;">第四杯免费</p>
		<p style="width: 7%;float: left;margin-left: 16%;margin-top: 35px;">第四杯免费</p>
		<section class="model-2" style="float: left;margin-top: 25px;margin-left: 17%;">
			  <div class="checkbox">
			    <input type="checkbox">
			    <label></label>
			  </div></section>
		<div style="clear: both;"></div>
	</div>



	<div class="woe">
		<p style="width: 7%;float: left;margin-left: 5%;margin-top: 35px;">咖啡瘾</p>
		<p style="width: 9%;float: left;margin-left: 16%;margin-top: 35px;">咖啡复购优惠</p>
		<section class="model-2" style="float: left;margin-top: 25px;margin-left: 15%;">
			  <div class="checkbox">
			    <input type="checkbox">
			    <label></label>
			  </div></section>
			  <select style="width: 10%;float: left;margin-left:19%;margin-top: 34px;">
			<option>全部商品</option>
			<option>是</option>
			<option>否</option>
			</select>
		<div style="clear: both;"></div>
	</div>


	<div style="width:40%;float: right;margin-right: 5%;margin-top: 70px;">
			<p style="float: left;margin-right: 10%;margin-top: 4px;">当前1-10条 共35条</p>
            <button type="button"><i class="fa fa-chevron-left"></i></button>
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <button type="button"><i class="fa fa-chevron-right"></i></button>
            <input type="" name="" style="width: 30px;margin-left: 5%;">
			<a href="">跳转</a>
    </div>




<script type="text/javascript" src="__STATIC__/js/jquery-1.9.1.min.js">
</script>
<script type="text/javascript" src="__STATIC__/js/jquery.bxslider.js">
</script>
</body>
</html>